body {
  padding-top: 50px;
  background-color: whitesmoke;
}

.navbar {
  background-color: #101001;
  padding: 0;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5px;
}

.container {
  margin-left: 20%;
}