body {
    padding-top: 50px;
    background-color: lightgrey;
}

#footer {
    position: center;
}

/**
Navbar
 */
.navbar {
    background-color: #101001;
    padding: 0;
    margi: 0;
    border-radius-bottomleft: 5px;
}

a.navbar-brand {
    padding-right: 60px;
}

/**
 show blogs
 */
.panel-body {
    background-color: black;
    border-bottom-right-radius: 15px;
    color: darkgray;
    margin: 0 0 0 0;
}

.panel-heading {
    background-color: red !important;
    border-top-left-radius: 15px;
    margin-bottom: -5px;
    color: white !important;
}

.panel.panel-default {
    height: 75%;
    background-color: red;
    margin: 0 0 15px 0;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    clear: both;
}

#style {
    height: 20px;
    width: 100%;
    background-color: red;
    border-top-left-radius: 25px;
    padding-top: 5px;
}

/**
My Profile
 */
#profile {
    height: 500px;
    width: 500px;
    background-color: black;
    margin-bottom: 20px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    float: left;
}

#pandapanda {
    margin-top: 35px;
    margin-left: 130px;
    height: 200px;
    width: 200px;
    border: 2px solid transparent;
    border-color: red;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}

#textProfile {
    color: white;
    padding-left: 10px;
}

/*#messages{
    float: left;
    border: 2px solid transparent;
    border-color: #696969;
    margin-left: 100px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: lightgreen;
    height: 40px;
    width: 500px;
    text-align: center;
    font-size: 18pt;
}*/
.item.title{
    clear: both;
}